<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <meta http-equiv="refresh" content="##REFRESH##">
    <title>DownloadStationMonitor</title>
</head>
<body class="##BODY_THEME##">
<div class="container h3"><i>Download Station Monitor <span class="text-muted small">##RSS## ##VERSION##</span></i>
</div>
<table class="table table-striped container-fluid ##TABLE_THEME##">
    <tr>
        <th><i>Torrent Neve</i></th>
        <th><i>Méret</i></th>
        <th><i>Letöltve</i></th>
        <th><i>Feltöltve</i></th>
        <th><i>Átlag</i></th>
        <th><i>Le</i></th>
        <th><i>Fel</i></th>
        <th><i>Tracker</i></th>
        <th><i>S/L</i></th>
        <th><i>Áll.</i></th>
        <th><i>Műveletek</i></th>
    </tr>
    ##ROWS##
    <tr>
        <td colspan="5">Összes torrent: ##NUMTASKS##</td>
        <td>##TOTALDOWNSPEED##</td>
        <td>##TOTALUPSPEED##</td>
        <td colspan="3"></td>
        <td>##MS## sec.</td>
    </tr>
</table>
</body>
</html>
