<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <meta http-equiv="refresh" content="##REFRESH##">
    <title>DownloadStationMonitor</title>
    <style type="text/css">
        html {
            font-size: 0.9rem;
        }
    </style>
</head>
<body class="##BODY_THEME## container-fluid d-table m-1 p-0">
<div class="container-fluid d-flex">
    <div class="h3 font-italic d-flex flex-grow-1 justify-content-center align-items-center">Download Station Monitor
    </div>
    <div><a href="#" class="btn btn-outline-info">##MS## s</a></div>
    <div><a href="#" class="btn btn-outline-info">v ##VERSION##</a></div>
    <div>##RSS##</div>
    <div><a class="btn btn-outline-info" href="?config">Beállítások</a></div>
</div>
<table class="table table-striped container-fluid ##TABLE_THEME##">
    <tr>
        <th><i>Torrent Neve (##NUMTASKS## db)</i></th>
        <th><i>Méret</i></th>
        <th><i>Letöltve</i></th>
        <th><i>Feltöltve</i></th>
        <th><i>Folyamat</i></th>
        <th><i>Átlag</i></th>
        <th><i>Le</i></th>
        <th><i>Fel</i></th>
        <th><i>Tracker</i></th>
        <th><i>S/L</i></th>
        <th><i>Áll.</i></th>
        <th><i>Műveletek</i></th>
    </tr>
    ##ROWS##
    <tr>
        <td colspan="6"></td>
        <td>##TOTALDOWNSPEED##</td>
        <td>##TOTALUPSPEED##</td>
        <td colspan="4"></td>
    </tr>
</table>
</body>
</html>
