<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <title>Download Station Monitor</title>
</head>
<body class="container">
<h2 class="center"><i>Download Station Monitor</i></h2>
<form method="POST">
    <div class="form-group">
        <label for="otp">Kétlépcsős azonosítás</label>
        <input type="text" class="form-control" id="otp">
    </div>

    <button type="submit" class="btn btn-primary">Belépés</button>
</form>
</body>
</html>
