html {
    font-size: 1rem;
}

body {
    background-color: #343a40;
    margin: 8px 8px 0 8px;
}

body,
main {
    display: flex;
    flex-direction: column;
}

body,
body a {
    color: #f8f9fa;
}

header {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
}

header div {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
}

header div.title {
    flex-grow: 60;
    flex-shrink: 0;
    font-size: 1.3rem;
    padding: 0.375rem 0.75rem;
}

.button {
    border: 1px solid #f8f9fa;
    border-radius: .25rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
}

main {
    height: calc(100vh - 5.5rem);
    margin-top: 0.5rem;
}

main article {
    display: flex;
    flex-direction: row;
    padding: 0.1rem 0;
}

main article:first-child span {
    font-weight: 700;
}

main article:nth-child(odd) {
    background-color: #475a6d;
}

main article span.title {
    flex: 12 2;
    flex-wrap: nowrap;
    word-break: break-all;
    padding: 0.2rem 0.5rem;
}

main article span.size,
main article span.transfer,
main article span.ratio,
main article span.speed,
main article span.tracker,
main article span.connected,
main article span.status {
    align-self: center;
    flex: 2;
    text-align: center;
}

main article span.connected {
    flex: 1;
}

.small,
.medium {
    display: none;
}

.large {
    display: block;
}

article.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

article.footer span {
    display: inline-block;
    padding: 0.375rem;
}

div.config {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

main.wait,
main.wait .button,
main.wait input {
    cursor: wait;
}

label {
    display: inline-block;
    margin: 10px 5px 10px 0;
}

input {
    width: 100%;
}

div.config div.buttons {
    margin: 20px auto 10px;
}

div.config span {
    display: block;
    margin: 10px auto;
    width: 50%;
}

img {
    height: 1rem;
    width: 1rem;
}

@media (max-width: 1024px) {
    main article span.title {
        flex: 6 2;
    }

    main article span.transfer {
        flex: 1.75;
    }

    main article span.size,
    main article span.tracker,
    main article span.status {
        flex: 1;
    }

    main article span.ratio,
    main article span.connected {
        flex: 0.75;
    }

    .large,
    .small {
        display: none;
    }

    .medium {
        display: block;
    }
}

@media (max-width: 600px) {
    main article span.title {
        flex: 4 1;
    }

    main article span.ratio,
    main article span.tracker,
    main article span.status {
        flex: 0.5;
    }

    .button {
        padding: 0.375rem;
    }

    .large,
    .medium {
        display: none;
    }

    .small {
        display: block;
    }
}